
{% extends "base.html" %}

{% block title %}Logi{% endblock %}

{% block content %}

    <h1>Logi aplikacji</h1>
    {% if logs %}
        <table>
            <tr>
                <th>Czas</th>
                <th>Poziom</th>
                <th>Moduł</th>
                <th>Wiadomość</th>
                <th>IP</th>
            </tr>
            {% for entry in logs %}
            <tr>
                <td>{{ entry.asctime }}</td>
                <td>{{ entry.levelname }}</td>
                <td>{{ entry.module }}</td>
                <td>{{ entry.message }}</td>
                <td>{{ entry.ip or 'brak' }}</td>
            </tr>
            {% endfor %}
        </table>
<br>
<form method="POST" action="/logs">
  <button type="submit">Wyczyść</button>
</form>
    {% else %}
        <p>Brak logów do wyświetlenia.</p>
    {% endif %}
{% endblock %}